{% extends 'base.html' %}

{% block title %}
    Hammerwerke
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 10px; padding-bottom: 50px;">
    <br>
    <h1>Hallo Kapselpilot</h1><br>
    Wir sind eine aktive Wurmloch Cop, die seit 2013 im Wurmloch lebt 
    und erfolgreich PVP- und PVE- Content unseren Mitgliedern bietet. 
    Unser Fokus liegt auf Small-Scale PvP (3-8 Mann Gang) und alles was 
    sich im WH zu ISK macht. Wichtig für unsere Expeditionen in die 
    Nachbar-WHs ist ein gepflegtes Pathfinder System und ein entspannter 
    Umgang miteinander auf unserem Discord Server. Ausgangspunkt für unsere 
    Aktivitäten ist ein eigenes WH mit verschiedenen „Static“ Zugängen.

    <br><br>
    Was wir bieten: <br>
    <ul>
        <li> Immerwährendes, spaßiges PVP im Wurmloch</li>
        <li>Program zum Schiffs-Reimbursement</li>
        <li>Mentorenprogramm für Wurmloch- und/oder PvP-Newbros mit unserem Wurmlochonkel</li>
        <li>PvE- Möglichkeiten von Ratten, PI, Exploration bis hin zu Gas (C1 - C6)</li>
        <li>Keine Pflichtabgaben. keine Auflagen</li>
        <li>TS3, Discord und Smartphone-Messenger</li>
    </ul>
    <br>
    Was suchen wir: <br>
    <ul>
        <li>Erfahrene PvP-Piloten (oder die, die es werden wollen)</li>
        <li>Bereitschaft zum Scannen und Scouten</li>
        <li>Teamplay, aber trotzdem eigenverantwortlich und selbstständig</li>
        <li>Kapselpiloten, die für die HMW Mitglieder auch mal einstehen und den Rücken freihalten</li>
        <li>Alpha-Clones sind für das WH leider ungeeignet :frowning:</li>
        <li>Wir Suchen kein beste Pferd im Stall, wo mann nicht führen kann</li>
        <li>Nicht die Herrschaft über das Universum, die Nachbar-„Chain“ reicht uns :slight_smile:</li>
    </ul>
    <br><br>
    <iframe width="690" height="388" src="https://www.youtube.com/embed/bSHJYmc3sq4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}